# Libraries

In [1]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps

# 0. Connection to Postgre

In [2]:
con = ps.connect(dbname="fintech",
                   user = "postgres",
                   password = "lolita",
                   host = "localhost",
                   port = "5432")

In [3]:
sql = """select * from fintech_user_f"""

In [4]:
df = sqlio.read_sql_query(sql, con)

C:\Users\luisf\AppData\Local\Temp\ipykernel_21084\2699896095.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, con)

In [5]:
df.head()

,user_id,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,registered_phones,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,rewards_earned,reward_rate,is_referred
0,1,False,21.0,R,577.0,48,4,52,45,0,...,2,Semi-Monthly,False,False,False,False,Pisces,56.0,1.87,False
1,4,False,35.0,R,566.0,15,0,73,15,0,...,0,Semi-Monthly,False,False,False,False,na,49.0,1.63,False
2,8,True,31.0,na,519.0,0,0,0,0,0,...,0,Bi-Weekly,False,False,False,False,Virgo,18.0,0.60,True
3,9,False,26.0,na,NaN,0,0,30,0,0,...,2,Weekly,False,False,False,False,Sagittarius,23.0,0.77,False
4,10,False,33.0,R,558.0,0,0,76,0,0,...,0,Bi-Weekly,False,False,False,False,Leo,45.0,1.50,True

---
---
# 1.Cleaning and formatting

## 1.0 Null values
### 1.0.0 NaNs

In [6]:
df.isna().sum()

user_id                    0
churn                      0
age                        4
housing                    0
credit_score            7369
deposits                   0
withdrawal                 0
purchases_partners         0
purchases                  0
cc_taken                   0
cc_recommended             0
cc_disliked                0
cc_liked                   0
cc_application_begin       0
app_downloaded             0
web_user                   0
app_web_user               0
ios_user                   0
android_user               0
registered_phones          0
payment_type               0
waiting_4_loan             0
cancelled_loan             0
received_loan              0
rejected_loan              0
zodiac_sign                0
rewards_earned          2996
reward_rate                0
is_referred                0
dtype: int64

In [7]:
print("NaNs in credit_score represent",df[df.credit_score.isna()].shape[0]/df.shape[0]*100, "% of total rows.")
print("NaNs in rewards represent",df[df.rewards_earned.isna()].shape[0]/df.shape[0]*100, "% of total rows.")

NaNs in credit_score represent 29.78456812578311 % of total rows.
NaNs in rewards represent 12.109453942847905 % of total rows.

_Filling rewards with 0s_

In [8]:
df.rewards_earned.unique()

array([ 56.,  49.,  18.,  23.,  45.,  60.,  61.,  53.,  37.,  34.,  12.,
        13.,  47.,  40.,  26.,  35.,  25.,  10.,  65.,  29.,  22.,  75.,
        44.,  63.,  32.,  51.,  41.,   5.,  21.,   6.,  67.,   2.,  68.,
        52.,  84.,   9.,  59.,  nan,  64.,  15.,  11.,  14.,  54.,  46.,
        24.,  48.,  33.,   4.,  58.,  43.,  19.,   1.,  50.,  17.,   3.,
        57.,  28.,  69.,   7.,  16.,  55.,  30.,  39.,  31.,  66.,  27.,
         8.,  42.,  72.,  36.,  76.,  62.,  20.,  38.,  71.,  90.,  80.,
        78.,  77.,  81.,  70.,  74.,  73.,  87.,  79.,  85.,  86.,  83.,
       114.,  99.,  82.,  88.])

In [9]:
df.rewards_earned = df.rewards_earned.fillna(0.)

_Putting mean in credit_score NaN values_

In [10]:
df.credit_score = df.credit_score.fillna(df.credit_score.mean())

In [11]:
print("NaNs in credit_score represent",df[df.credit_score.isna()].shape[0]/df.shape[0]*100, "% of total rows.")
print("NaNs in rewards represent",df[df.rewards_earned.isna()].shape[0]/df.shape[0]*100, "% of total rows.")

NaNs in credit_score represent 0.0 % of total rows.
NaNs in rewards represent 0.0 % of total rows.

### 1.1.1 NaNs in str format

In [24]:
for c in df.columns:
    print(c,df[c].unique())

user_id [    1     8     9 ... 69653 69655 69658]
churn [False  True]
age [21. 31. 26. 33. 54. 27. 28. 42. 25. 38. 24. 44. 30. 41. 36. 49. 22. 65.
 52. 45. 29. 35. 18. 51. 32. 43. 34. 19. 40. 48. 46. 23. 56. 37. 20. 39.
 66. 62. 47. 75. 60. 53. 61. 50. 55. 70. 64. 58. 63. 57. 59. 69. 84. 91.
 73. 17. 78. 89. 72. 68. 85. 67. 77. 74. 71. 80. 82. 83. 87. 81. 76. 79.]
credit_score [577.         519.         542.51559982 558.         559.
 554.         501.         495.         500.         533.
 532.         557.         590.         494.         550.
 562.         609.         481.         655.         364.
 525.         569.         513.         473.         555.
 649.         528.         526.         596.         620.
 454.         538.         647.         506.         490.
 613.         530.         461.         413.         588.
 581.         587.         535.         687.         491.
 472.         605.         570.         597.         545.
 638.         539.         531.         636.         571.
 566.         705.         464.         499.         361.
 567.         452.         542.         606.         582.
 511.         661.         527.         459.         416.
 563.         547.         408.         446.         443.
 548.         529.         575.         615.         592.
 580.         573.         552.         700.         521.
 621.         591.         479.         517.         489.
 632.         475.         465.         422.         444.
 467.         496.         522.         672.         503.
 608.         524.         516.         540.         572.
 512.         583.         423.         502.         476.
 478.         450.         670.         457.         568.
 486.         417.         546.         579.         604.
 622.         561.         483.         595.         619.
 488.         654.         508.         556.         447.
 536.         585.         514.         470.         509.
 553.         469.         549.         428.         537.
 576.         541.         493.         505.         520.
 612.         663.         610.         551.         637.
 574.         523.         584.         439.         425.
 600.         753.         711.         504.         405.
 603.         641.         723.         642.         690.
 429.         460.         507.         602.         564.
 630.         796.         594.         617.         671.
 453.         456.         623.         599.         625.
 427.         565.         593.         586.         414.
 492.         379.         578.         626.         474.
 643.         497.         624.         544.         631.
 432.         498.         664.         518.         616.
 433.         633.         645.         477.         394.
 515.         560.         653.         627.         607.
 759.         598.         510.         635.         675.
 660.         589.         651.         614.         629.
 688.         686.         424.         731.         357.
 534.         471.         484.         463.         676.
 816.         485.         618.         728.         369.
 693.         468.         426.         431.         434.
 543.         455.         445.           3.         383.
 482.         639.         449.         436.         487.
 330.         451.         442.         757.         657.
 462.         652.         668.         659.         648.
 656.         679.         678.         611.         480.
 640.         375.         628.         702.         438.
 646.         666.         421.         634.         441.
 435.         440.         695.         387.         667.
 729.         644.         419.         743.         458.
 411.         662.         696.         437.         730.
 680.         409.         714.         397.         685.
 650.         717.         601.         760.         448.
 466.         669.         390.         418.         677.
 340.         407.         701.         363.         699.
 737.         395.         399.         380.         718.
 736.         430.         713.         396.         823.
 681.         402.         778.         302.         692.
 741.         367.         658.         724.         674.
 781.         779.         401.         382.         415.
 403.         381.         689.         420.         747.
 400.         356.         712.         748.         698.
 707.         801.         385.         358.         799.
 377.         392.         752.         812.         304.
 410.         744.         733.         751.         388.
 311.         412.         709.         815.         697.
 691.         365.         354.         404.         706.
 761.         791.         665.         683.         378.
 806.         386.         393.         684.         824.
 780.         355.         389.         673.         721.
 703.         807.         720.         716.         353.
 391.         366.         819.         785.         772.
 708.         345.         406.         784.         303.
 323.         374.         715.           2.         746.
 344.         745.         726.         710.         727.
 732.         682.         838.         775.         704.
 725.         373.         371.         769.         800.
 758.         398.         320.         773.         306.
 321.         765.         722.         694.         767.
 754.         319.         307.         336.         348.
 370.         346.         359.         782.         352.
 802.         762.         376.         342.         327.
 739.         341.         719.         777.         362.
 818.         740.        ]
deposits [48  0  2  1 60 17 10 12 11 52 16 29  7  3 13  9 43 55 20 38 21 59  6 62
  4 23  5 37 15 44 46  8 18 41 34 53 56 14 27 32 50 54 45 25 42 22 31 30
 24 19 57 35 39 58 47 26 36 33 28 40 51 61 49 64 63 65]
withdrawal [ 4  0  1 13  2  3  6  5  8 11  7 10  9 19 16 12 14 15 20 17 29 28 24]
purchases_partners [  52    0   30   76  206  114   81  169   11    1   15   58   62   39
   27  133   14   89   22  160   48   92   61   84    4   34    9   25
  113   74   21  149   99   32   24   28   41   71   67  103   19   44
   60   26   47   55   82   96   42    2    3   57  143    5   37  100
  111   95   63  154   51   73   46   29   94   17  105  108   65   20
   66   40  118   80   16   64   38   50   18   97   35   68   54   72
    6   83   56   45   12   88   13   36   90   78    7   10   43  110
    8  148  115  122  226  136   33  176  204  138  270   53  183   70
  123   77   23  304   49  283  135   31  102  134   59  249   69   91
   93  112  127  116  216  207  101   79  147  200  104   75  130   98
  173  126  168  106  132  119  179  142  159   87  175   86  162  144
  170  178  192  107  189   85  145  156  125  193  252  172  139  163
  161  141  109  290  131  201  124  243  188  151  155  165  137  203
  267  120  214  327  244  191  152  157  121  232  180  164  342  117
  129  278  205  231  272  140  174  223  222  185  259  210  247  299
  408  212  309  128  194  273  184  250  709  209  167  182  146  158
  225  187  229  268  242  202  198  236  524  197  150  350  694  293
  213  171  833  217  153  269  237  406  381 1067  612  405  347  234
  358  166  196  344  288  181  199  274  332  368  446  228  177  281
  195  447  235  224  289  348  215  490  390  233  221  287  285  240
  218  208  297  190  227  260  276  241  186]
purchases [45  0  2  1 43 17 10 11 50 16 28  7  3 13  8 55 20 37 21 58  6 29 12  4
 23  5 36 38 14 15 18 22 41 34 52 56 27 30 49  9 54 53 40 47 19 31 57 35
 39 25 46 59 26 42 32 24 51 33 44 48 60 61 63 62]
cc_taken [ 0  1  4  3  5  2  6 10 29  8 11  7]
cc_recommended [245  49  56 166 304 221 131 184  65  24  32 179 148  64 115  76 215 100
 202  63 260 170  30 238  40 282 125 243 196  25  10 150  71  95  68 231
  21  14 249   2 264 194 248  31 308   0 192 217 272  59  44 195 205 163
  78 156 137 177 289  35 128 180 102  50 230 159 255 191 209 254 162 208
  94   1 168  45   5 160 124 145  70 239  39  11 143 157 224  13 123 275
 147  57 164 174 153 281 140 104 189 236  17 291 175 233 113 252 270  81
  89 193 146  18   4 126 152  77 135 121 165  91 225  69 268 149 266 240
  98  58  41  33   3  74  79  36 119  97 133  82 228 141   6 120  80  60
 129 116 218 132 293 213 171  28  86  66 216  20  93  19 273 183 118 206
 181  85 253  15 169   7  12  54  43 229 287 127  27 105 134 269 176  16
 251 151 167 106  75  47   8 290 144 300 114  26 220 103 284  38 296 244
  84 200 307 122 155 197  46 136 286 305 306 301 130 267  90  23  72 246
  92   9  29 237 219 173 204 182 211  62 139 235 185 178 110 265 161 234
 262 259 302 203 278 190 186 312 109 198 199 138 299 226  34  42 222 107
 207 212 112 320 279 257  73 158  37 292 111 271 261 283 101 247 241 201
 285  51  67  87 256  96 142  22 263 172 276 242 210 280  99 227 117  55
 187  53 303  88 232 154  48 223 274 108 250 298 214  83 310 294 258  61
 295  52 288 277 315 324 297 188 321 313 522 311 309 314 316 323 318 322
 326]
cc_disliked [ 0  1  4  3  2  8 15  6  9  7  5 59 11 12 23 10 65 25 13]
cc_liked [ 0  1  2  4  9  3  8 10 27]
cc_application_begin [ 22   2   5   8  27  18   6  10   0  51   1  12   9  35  23   4  34   3
  11  14  17  30   7  28  21  24  36  58  19  13  16  32  62  31  15  78
  42  25  49  20  48  26  41  76  29  43  64  44  39  67  81  40  56  73
  88  38  37  47  70  92  45  33  53  50  79 106  52  77  66  71  89  57
  87 100  91  61 147  55 183  86  84  60 230 105  46  68 115 119 101 108
  54  74 129  83 138  90  65 118 136  69  96  63  72  59 123 148 107 109
  75 112  99  93  82 104 263 113 161  94 111 114 126 140 116  95  98 184]
app_downloaded [ True False]
web_user [ True False]
app_web_user [ True False]
ios_user [False  True]
android_user [ True False]
registered_phones [2 0 4 3 5]
payment_type ['Semi-Monthly' 'Bi-Weekly' 'Weekly' 'na' 'Monthly']
waiting_4_loan [False  True]
cancelled_loan [False  True]
received_loan [False  True]
rejected_loan [False  True]
zodiac_sign ['Pisces' 'Virgo' 'Sagittarius' 'Leo' 'Capricorn' 'Gemini' 'Cancer'
 'Scorpio' 'Libra' 'Taurus' 'Aquarius' 'Aries']
rewards_earned [ 56.  18.  23.  45.  60.  61.  53.  37.  12.  13.  47.  40.  26.  35.
  25.  49.  10.  65.  22.  75.  63.  32.  51.  41.   5.  21.   6.  67.
   2.  68.  52.  84.   9.   0.  64.  15.  11.  14.  54.  46.  24.  48.
  34.  33.  58.  43.  19.   1.  50.  17.   3.  57.  44.  28.  69.   7.
  16.  55.  30.  39.  31.  66.  27.   8.   4.  42.  72.  36.  76.  62.
  20.  38.  71.  59.  29.  90.  80.  78.  77.  81.  70.  74.  73.  87.
  79.  85.  86.  83. 114.  99.  82.  88.]
reward_rate [1.87 0.6  0.77 1.5  2.   2.03 1.77 1.23 0.4  0.43 1.57 1.33 0.87 1.17
 0.83 1.47 1.63 0.37 2.17 0.73 2.5  2.1  1.07 1.7  1.37 0.17 0.7  0.2
 2.23 0.07 2.27 1.73 2.8  0.41 0.   2.13 0.88 0.79 0.47 1.8  1.53 0.8
 0.82 1.6  1.13 0.5  1.1  1.93 1.43 1.46 1.67 0.57 1.9  0.03 0.1  0.67
 0.93 2.3  0.23 0.53 1.83 3.3  0.63 1.   0.45 1.3  0.96 1.03 2.2  0.9
 0.27 0.33 0.13 1.4  2.4  1.2  2.53 0.39 2.07 0.15 0.85 0.3  1.27 2.37
 1.97 0.62 0.97 0.95 3.   0.78 0.74 1.85 2.67 2.6  0.61 0.68 2.57 0.89
 2.7  0.44 0.36 0.71 0.48 2.33 2.14 2.47 4.   0.65 1.08 2.83 0.29 0.25
 0.94 2.43 0.92 0.05 0.46 2.9  0.04 2.63 0.81 0.86 0.64 0.22 0.31 0.32
 0.42 1.11 2.87 0.09 0.75 0.76 0.59 0.11 0.91 0.21 3.5  0.72 0.69 0.55
 3.67 0.12 2.77 0.58 1.21 1.89 3.8  0.38 0.08 0.56 0.84 3.6  1.25 1.41
 0.66 0.52 1.29 1.86 2.78 1.06 0.18 0.28 1.04 2.58 0.35 0.06 0.19 0.14
 0.24 1.39 1.05 0.26 0.54 1.24 2.73 1.31 1.88 1.14 1.55 1.35 3.53 1.15
 1.38 2.93 0.16 1.09 2.64 1.62 2.11 1.75 1.28]
is_referred [False  True]

In [12]:
# Dont need this column
df.housing.unique()

array(['R', 'na', 'O'], dtype=object)

In [13]:
df.drop(columns = 'housing', inplace = True)

In [14]:
df.zodiac_sign.unique()

array(['Pisces', 'na', 'Virgo', 'Sagittarius', 'Leo', 'Capricorn',
       'Gemini', 'Cancer', 'Scorpio', 'Libra', 'Taurus', 'Aquarius',
       'Aries'], dtype=object)

In [15]:
print("na values in zodiac_sign represent",df[df.zodiac_sign == 'na'].shape[0]/df.shape[0]*100, "% of total rows.")

na values in zodiac_sign represent 7.958449537205449 % of total rows.

In [16]:
df = df[df.zodiac_sign != 'na'].copy()

In [21]:
# too much
print("na values in payment_type represent",df[df.payment_type == 'na'].shape[0]/df.shape[0]*100, "% of total rows.")

na values in payment_type represent 14.531002986123308 % of total rows.

In [25]:
df.payment_type = df.payment_type.fillna("Monthly")